<div>
  <p>
    <label for="nome">Nome: </label>
    <input type="text" [(ngModel)] = cliente.nome/>
  </p>
  <p>
    <label for="nome">CPF: </label>
    <input type="text" [(ngModel)] = cliente.cpf/>
  </p>
  <p>
    <label for="nome">Idade: </label>
    <input type="text" [(ngModel)] = cliente.idade/>
  </p>
  <p>
    <label for="nome">Telefone: </label>
    <input type="text" [(ngModel)] = cliente.telefone/>
  </p>
  <span *ngIf="showMessage" style="color: red;">{{message}}<br></span>
  <button (click)="onSubmit()" > Salvar </button>
</div>

<p>
  {{cliente | json}}
</p>
